.card {
    height: 400px;
    position: relative;
    padding: 15px;
    border: 1px solid #fcd9bd;
    
}
.img-container{
    position: relative;
    border-radius: 20px;
    overflow: hidden;   /* Hide the overflow when the image zooms */
    background-size: contain;
}

.recipeImg {
    transition: transform 0.5s ease; /* Add transition for smooth zoom */
    display: block;
    width: 100%;
    height: auto;
    transform-origin: center; /* Ensure zoom happens from the center */
}

.card:hover .recipeImg {
    transform: scale(1.1); /* Scale up the image on hover */
}


.recipe_tag ,
.recipe_tag:hover, .recipe_tag:disabled{
    background-color:  #ffa780;
    color: #8a2c0d;
    margin-right: 10px;
}