.searchedText{
    background-image: linear-gradient(to right, #ff9000 ,#f4bf3c);
    border-radius: 15px;
    padding: 5vh 0;

}

.card {
    height: 400px;
    position: relative;
    padding: 15px;
    border: 1px solid #fcd9bd; 
    border-radius: 13px;

}
.card:hover{
    background-color: #fef1e4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.25s ease-in;
}
.img-container{
    position: relative;
    border-radius: 20px;
    overflow: hidden;   /* Hide the overflow when the image zooms */
    background-size: contain;

}

.img-container:hover{
    background-color: #fef1e4;
    transition: all 1s ease-in;
}
.recipeImg {
    transition: transform 0.5s ease; /* Add transition for smooth zoom */
    display: block;
    width: 100%;
    height: auto;
    transform-origin: center; /* Ensure zoom happens from the center */
}

.card:hover .recipeImg {
    transform: scale(1.1); /* Scale up the image on hover */
}


.recipe_tag ,
.recipe_tag:hover, .recipe_tag:disabled{
    background-color:  #ffa780;
    color: #8a2c0d;
    margin-right: 10px;
}

.addRecipe-btn, .saved-btn {
    margin-top: 10px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

.addRecipe-btn{
    background-color: #FFA500;
    color: white;
    margin-right: 10px;
}
.saved-btn{
    background-color: #FFD700;
    color: black;
}